/* Colores principales */
:root {
  --background-dark: #121212; /* Fondo oscuro más intenso */
  --text-light: #e0e0e0; /* Texto claro, un poco más suave */
  --primary-color: #64b5f6; /* Azul claro para resaltar */
  --secondary-color: #1e1e1e; /* Gris oscuro para detalles */
  --card-background: #1e1e1e; /* Fondo de tarjetas */
  --border-color: #333; /* Color de bordes más suave */
}

/* Estilos generales */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: var(--text-light);
  background-color: var(--background-dark);
}

.container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.left-column {
  width: 30%;
  background-color: var(--card-background);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.right-column {
  width: 70%;
  margin-left: 20px;
}

.profile-img {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 3px solid var(--primary-color);
}

.contact-info {
  text-align: left;
}

.contact-info i {
  margin-right: 10px;
  color: var(--primary-color);
}

.contact-info a {
  color: var(--text-light);
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin-bottom: 20px;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: var(--text-light);
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a.active,
nav ul li a:hover {
  color: var(--primary-color);
}

.content-section {
  display: none;
  background-color: var(--card-background);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.content-section.active {
  display: block;
}

.skills-carousel {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.skill {
  text-align: center;
  font-size: 1.2rem;
  color: var(--text-light);
}

.skill i {
  font-size: 2rem;
  color: var(--primary-color);
}

.experience-item,
.project-card {
  background-color: var(--secondary-color);
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 15px;
  border: 1px solid var(--border-color);
}

.experience-item h3,
.project-card h3 {
  color: var(--primary-color);
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--text-light);
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #42a5f5; /* Un tono más claro de azul */
}

footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: var(--secondary-color);
  color: var(--text-light);
  border-radius: 5px;
}